@model List<Vehicle>
@{
    ViewData["Title"] = "Pagamentos";
}
        <table class="table-center" id="vehicles-id" style="width:70%" align="center">
            <thead>
                <tr>
                    <th style="width:15%"><font size="5"><b><font>Modelo</font></b></font></th>
                    <th style="width:7%"><font size="5"><b><font>Placa</font></b></font></th>
                    <th style="width:3%"><font size="5"><b><font>Ação</font></b></font></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicles in Model)
                {
                    <tr>
                        <td><b><font>@vehicles.Model</font></b></td>
                        <td><b><font>@vehicles.LicensePlate</font></b></td>
                        <td>
                            <button class="btn btn-animate mb-2 btn-animate-side btn-primary" onclick="teste(@vehicles.Id)">
                                <i class="icon wb-shopping-cart" aria-hidden="true"></i>Pagar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

@section scripts{
    <script>

       function teste(id) {

        $.ajax({
            url: '@Url.Action("Paypal", "Paypal")',
            type: "POST",
            data: {id: id},
            dataType: "json",
            success: function(data) {
                   console.log(data);
                    if (data.status) {

                        var jsonresult = JSON.parse(data.respuesta);

                        console.log(jsonresult);

                        var links = jsonresult.links;

                        var resultado = links.find(item => item.rel === "approve")

                        window.location.href = resultado.href

                        /*console.log(links)*/
                        /*console.log(resultado)*/
                    } 
                    else {
                        alert("Vuelva a intentarlo más tarde")
                    }
                }
            });
        }

        //function pagar() {
        //    debugger;
        //    id = 1;
        //    console.log(id);
            
        //    jQuery.ajax({
        //        url: '@Url.Action("Paypal", "Paypal")',
        //        type: "POST",
        //        data: {id: "1"},
        //        dataType: "json",
        //        contentType: "application/json; charset=utf-8",
        //        success: function (data) {

        //            console.log(data);
        //            if (data.status) {

        //                var jsonresult = JSON.parse(data.respuesta);

        //                console.log(jsonresult);

        //                var links = jsonresult.links;

        //                var resultado = links.find(item => item.rel === "approve")

        //                window.location.href = resultado.href

        //                /*console.log(links)*/
        //                /*console.log(resultado)*/
        //            } else {
        //                alert("Vuelva a intentarlo más tarde")
        //            }
        //        },
        //        beforeSend: function () {
        //        }
        //    });
        //}
    </script>

    }

@*@using Entra21.CSharp.ClinicaVeterinaria.Servico.Extensions

<div class="row">
    <div class="col-12">
        <button class="btn btn-primary mb-2 float-end"
                id="responsavel-cadastro"
                data-target="#cadastroResponsavelContatoModal"
                data-url="@Url.Action("CadastrarModal", "ResponsavelContato", new { responsavelId = Model.Id })">
             <i class="fa-solid fa-floppy-disk"></i> Cadastrar
        </button>
    </div>
</div>

@if (!Model.Contatos.Any())
{
    <div class="row">
        <div class="text-center pt-5">
            <h6 class="h6">Nenhum registro cadastrado</h6>
            <img src="~/images/no-records.png" alt="Caixa vazia"/>
        </div>
    </div>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var contato in Model.Contatos)
        {
            <tr>
                <td>@contato.Tipo.GetDisplayAttribute()</td>
                <td>@contato.Valor</td>
                <td>
                    <button class="btn btn-primary responsavel-contato-editar" data-id="@contato.Id">
                        <i class="fa-solid fa-pencil"></i> Editar
                    </button>
                    <button class="btn btn-outline-danger contato-button-apagar" data-id="@contato.Id">
                        <i class="fa-solid fa-trash"></i> Apagar
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<div id="modal-contato"></div>*@