@model List<Guard>


@{
    ViewData["Title"] = "Guardas";
}

<div class="row mb-3" id="guard-Id">
    <div class="text-end">
        <p class="h3">Lista de Guardas</p>
        <button class="btn btn-primary guardRegister" data-id="guard.Id">
            <i class="bi bi-info-circle"></i> Cadastrar
        </button>
    </div>
</div>
<table class="table caption-top table-hover" style="width:85%" align="center">
    <thead>
        <tr>
            <th><b>Nome</b></th>
            <th><b>CPF</b></th>
            <th><b>Número de identificação</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var guard in Model)
        {
            <tr>
                <td>@guard.User.Name</td>
                <td>@guard.User.Cpf</td>
                <td>@guard.IdentificationNumber</td>
                <td>
                    <button class="btn btn-primary guardUpdate" data-id="@guard.Id">
                        <i class="bi bi-info-circle"></i> Editar
                    </button>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@guard.Id">
                        <i class="fa-solid fa-trash"></i> Apagar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="Update" model="ViewBag.Guard" />

@section Scripts{
    <script src="~/js/Guard/GuardUpdate.js"></script>
}