@*@model List<User>
@{
    ViewData["Title"] = "Usuários";
}*@
@*
<div class="row mb-3">
    <div class="text-end">*@
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Cadastrar Guarda
        </button>
@*    </div>
</div>*@

<table class="table table-striped table-bordered" id="table-users">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Hierarquia</th>
            <th>Ação</th>
        </tr>
    </thead>
@*    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><b><font>@user.Name</font></b></td>
                <td><b><font>@user.Email</font></b></td>
                <td><b><font>@user.Hierarchy</font></b></td>
                <td>
                    <a class="btn btn-primary" asp-action="update" asp-route-id="@user.Id">
                        <i class="fa-solid fa-pencil"></i> Editar
                    </a>
                    <a class="btn btn-outline-danger" asp-action="delete" asp-route-id="@user.Id">
                        <i class="fa-solid fa-trash"></i> Apagar
                    </a>
                </td>
            </tr>
        }
    </tbody>*@
</table>

<partial name="Registeruser"/>

@section Scripts{
    <script src="~/js/Users/user-register.js"></script>
    <script src="~/js/Users/user-datatable.js"></script>
    @*<script src="~/js/Users/UsersUpdate.js"></script>*@
    <script>

        function teste(id) {
            $.ajax({
                url: '@Url.Action("Paypal", "Paypal")',
                type: "POST",
                data: { id: id },
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    if (data.status) {

                        var jsonresult = JSON.parse(data.response);

                        console.log(jsonresult);

                        var links = jsonresult.links;

                        var resultado = links.find(item => item.rel === "approve")

                        window.location.href = resultado.href
                    }
                    else {
                        alert("Volte mais tarde, o serviço de pagamento não está funcionado!")
                    }
                }
            });
        }
    </script>
    }
